@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

:root {
  --cma-green: rgb(39,121,105);
  --cma-purple: rgb(142,98,165);
  
  --cma-gray1: rgb(233,233,233);
  --cma-gray2: rgb(164,166,167);
  --cma-gray3: rgb(123,124,125);
  
  --cma-text1: rgb(136,136,136);
  --cma-text2: rgb(68,68,68);
  --cma-text3: rgb(0,0,0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px; 
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--cma-text3);
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.non-footer-content {
  flex: 1 0 auto;
  top: 0;
  /* padding: 10px; */
}

a:link {
  /* text-decoration: none; */
}

a:visited {
  text-decoration: none;
  color: inherit;
}

/* @media (min-width: 600px) {
  .modal {
    width: 100%;
    padding: '0';
  }
} */
/* @media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
} */
/* 
@media screen and (min-width: 601px) and (max-width: 900px) {
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
}
@media screen and (min-width: 1201px) {
} 
*/